@media (min-width: 361px) {
  .book-bg {
    width: 1440px;
    height: 1024px;
    background-color: #fff;
    background-size: cover;
  }

  .book-author-title {
    font-weight: 600;
    margin-top: 32px;
    font-size: 24px;
    margin-bottom: 16px;
  }

  .book-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .book-bg-without-header {
    background-color: #f5f7fa;
    background-size: cover;
    padding-top: 64px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 64px;
  }

  .book-failure-view {
    background-size: cover;
    height: 360px;
    width: 430px;
    margin-top: 200px;
    margin-left: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .book-page-failure-img {
    margin-top: 42px;
    height: 220px;
    width: 350px;
  }
  .book-failure-text {
    width: 313px;
    text-align: center;
    height: 24px;
    color: #475569;
  }

  .book-try-again-btn {
    background-color: #0284c7;
    border-radius: 4px;
    font-weight: 12px;
    border: 0px none;
    width: 75px;
    color: #f8fafc;
    height: 32px;
    font-size: 14px;
    margin-top: 16px;
  }
  .book-loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 391px;
    height: 1024px;
  }
  .book-image-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  .book-card {
    background-color: #fff;
    background-size: cover;
    margin-bottom: 24px;

    width: 1140px;
    padding: 64px;
    margin-top: 64px;
  }
  .book-details {
    margin-bottom: 30px;
  }
  .book-image {
    width: 235px;
    height: 274px;
    margin-right: 48px;
    border-radius: 8px;
  }
  .book-title {
    font-weight: 600;
    font-size: 32px;
    color: #334155;
    height: 48px;
  }
  .book-author {
    font-weight: 500;
    font-size: 24px;
    height: 16px;
    color: #475569;
    margin-bottom: 16px;
  }
  .book-star-icon {
    color: #fbbf24;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .book-rating {
    color: #475569;
    font-size: 24px;
  }

  .book-avg-rating {
    color: #475569;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .book-rating-bg {
    height: 32px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
    display: flex;
    margin-right: 16px;
    flex-direction: row;
    align-items: center;
    height: 16px;
  }
  .book-status {
    font-size: 24px;
    font-weight: 500;
    color: #475569;
  }
  .book-read-span {
    font-size: 24px;
    font-weight: 500;
    color: #0284c7;
    margin-left: 10px;
  }
  .book-footer {
    margin-top: 96px;
  }
}

@media (max-width: 361px) {
  .book-bg {
    width: 360px;
    background-color: #fff;
    background-size: cover;
    font-family: 'roboto';
  }

  .book-bg-without-header {
    background-color: #f5f7fa;
    background-size: cover;
    padding-left: 24px;
    padding-right: 24px;
  }

  .book-author-title {
    font-weight: 600;
    margin-top: 24px;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .book-description {
    font-weight: 400;
    color: #475569;
    font-size: 14px;
    margin-bottom: 16px;
  }

  .book-failure-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 148px;
  }

  .book-page-failure-img {
    height: 100px;
    width: 137px;
  }
  .book-failure-text {
    width: 231px;
    text-align: center;
    height: 16px;
    color: #475569;
  }

  .book-try-again-btn {
    background-color: #0284c7;
    border-radius: 4px;
    font-weight: 12px;
    border: 0px none;
    width: 87px;
    color: #f8fafc;
    height: 32px;
    font-size: 12px;
    margin-top: 12px;
  }
  .book-loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    height: 1032px;
  }
  .book-image-card {
    margin-top: 24px;
  }

  .book-image {
    width: 235px;
    height: 274px;
    margin-left: 38px;
    border-radius: 8px;
  }
  .book-title {
    font-weight: 600;
    font-size: 24px;
    color: #334155;
    height: 32px;
  }
  .book-author {
    font-weight: 500;
    font-size: 16px;
    height: 24px;
    color: #475569;
  }
  .book-star-icon {
    color: #fbbf24;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  .book-rating {
    color: #475569;
    font-size: 16px;
    font-weight: 400;
  }
  .book-details {
    text-align: center;
  }

  .book-avg-rating {
    color: #475569;
    font-size: 16px;
  }

  .book-rating-bg {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .book-status {
    font-size: 16px;
    font-weight: 500;
    color: #475569;
    margin-bottom: 24px;
  }
  .book-read-span {
    font-size: 16px;
    font-weight: 500;
    color: #0284c7;
    margin-left: 10px;
  }
  .book-footer {
    margin-left: 125px;
    margin-top: 64px;
    margin-bottom: 48px;
  }
}
