.header-background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  height: 89px;
  width: 1440px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
  border: 1px solid #e4e7eb;
}

.header-logo {
  height: 41px;
  width: 47px;
  margin-top: 24px;
}

.anchor-elements-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-anchor-element {
  width: 46px;
  height: 24px;
  color: #0284c7;
  font-weight: 600;
  margin-right: 24px;
}

.bookshelves-anchor-element {
  width: 96px;
  margin-right: 24px;
  height: 24px;
  font-weight: 600;
}

.logout-button {
  background-color: #0284c7;
  border-radius: 5px;
  border: 0px none;
  width: 73px;
  color: #f8fafc;
  height: 32px;
}

.header-logo-text {
  height: 17px;
  width: 87px;
  margin-top: 44px;
  color: #0284c7;
  font-weight: 600px;
  font-family: Almendra SC;
}
.header-logo-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}
