@media screen and(min-width: 361px) {
  .header-background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    height: 89px;
    background-size: cover;
    font-family: 'roboto';

    width: 1440px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #fff;
    border: 1px solid #e4e7eb;
  }

  .link {
    text-decoration: none;
  }
  .header-logo {
    height: 41px;
    width: 47px;
    margin-top: 24px;
  }

  .anchor-elements-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .home-anchor-element {
    width: 46px;
    height: 24px;
    color: #64748b;
    background-color: transparent;
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 24px;
    text-decoration: none;
    font-style: normal;
  }

  .home-anchor-element-tab {
    width: 46px;
    height: 24px;
    color: #0284c7;
    background-color: transparent;
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 24px;
    text-decoration: none;
    font-style: normal;
  }

  .bookshelves-anchor-element {
    height: 24px;
    color: #64748b;
    background-color: transparent;
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 24px;
    text-decoration: none;
    font-style: normal;
  }
  .bookshelves-anchor-element-tab {
    height: 24px;
    color: #0284c7;
    background-color: transparent;
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 24px;
    text-decoration: none;
    font-style: normal;
  }

  .logout-button {
    background-color: #0284c7;
    border-radius: 5px;
    border: 0px none;
    width: 73px;
    color: #f8fafc;
    height: 32px;
  }

  .header-logo-text {
    height: 17px;
    width: 87px;
    margin-top: 44px;
    color: #0284c7;
    font-weight: 600px;
    font-family: Almendra SC;
  }
  .header-logo-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
  }
  .menu-bar-btn {
    display: none;
  }
  .popup-container {
    display: none;
  }

  li {
    list-style: none;
  }
}

@media screen and(max-width: 361px) {
  .header-background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    background-size: cover;
    font-family: 'roboto';
    width: 360px;
    height: 56px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
    border: 1px solid #e4e7eb;
  }
  .link {
    text-decoration: none;
  }
  .header-logo-card {
    display: flex;
    flex-direction: row;
  }
  .header-logo {
    height: 24px;
    width: 26px;
    margin-top: 16px;
  }
  .header-logo-text {
    height: 17px;
    width: 65px;
    margin-top: 22px;
    margin-bottom: 17px;
    color: #0284c7;
    font-weight: 600px;
    font-family: Almendra SC;
  }
  .anchor-elements-card {
    display: none;
  }
  .home-anchor-element {
    width: 46px;
    height: 24px;
    color: #64748b;
    background-color: transparent;
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 24px;
    text-decoration: none;
    font-style: normal;
  }
  .anchor-elements-card-small-devices {
    margin-top: 21px;
    text-align: center;
  }
  .home-anchor-element-tab {
    width: 46px;
    height: 24px;
    color: #0284c7;
    background-color: transparent;
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 24px;
    text-decoration: none;
    font-style: normal;
  }

  .bookshelves-anchor-element {
    height: 24px;
    color: #64748b;
    background-color: transparent;
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 24px;
    width: 94px;
    text-decoration: none;
    font-style: normal;
  }
  .bookshelves-anchor-element-tab {
    height: 24px;
    color: #0284c7;
    background-color: transparent;
    border: 0px none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 24px;
    text-decoration: none;
    font-style: normal;
  }

  .logout-button {
    background-color: #0284c7;
    border-radius: 5px;
    border: 0px none;
    width: 73px;
    color: #f8fafc;
    height: 32px;
    margin-right: 15px;
    margin-left: 24px;
  }

  li {
    list-style: none;
  }

  .menu-bar-btn {
    width: 16px;
    height: 16px;
    border: 0px none;
    background-color: transparent;
  }
  .popup-container {
    display: flex;
  }
}
