@media (min-width: 361px) {
  .bookshelves-background {
    background-color: #f5f7fa;
    background-size: cover;
    width: 1440px;
    height: 3000px;
    font-family: 'roboto';
  }
  .bookshelves-card {
    padding-left: 150px;
    padding-top: 48px;
    display: flex;
    flex-direction: row;
  }
  .bookshelves-failure-view {
    height: 220px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: ;
    justify-content: center;
  }

  .api-render-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bookshelves-try-again-btn {
    background-color: #0284c7;
    border-radius: 4px;
    font-weight: 12px;
    border: 0px none;
    width: 75px;
    color: #f8fafc;
    height: 32px;
    font-size: 14px;
    margin-top: 16px;
  }

  .bookshelves-failure-text {
    width: 313px;
    text-align: center;
    height: 24px;
    color: #475569;
  }

  .bookshelves-category-buttons-card {
    background-color: #fff;
    width: 256px;
    height: 2730px;
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 88px;
  }
  .bookshelves-buttons-heading {
    width: 138px;
    height: 32px;
    color: #334155;
    font-weight: 600;
    font-size: 20px;
  }
  li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #475569;
  }
  .category-btn {
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    color: #475569;
    margin-top: 12px;
    background-color: transparent;
    border: 0px;
    text-align: start;
    width: 139px;
  }
  .active-btn {
    width: 139px;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    height: 24px;
    color: #0284c7;
    margin-top: 12px;
    background-color: transparent;
    border: 0px;
  }

  .loader-bookshelves {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .title-and-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 151px;
    margin-top: 2px;
  }
  .search-bg {
    width: 264px;
    height: 36px;
    padding-top: 6px;
    padding-left: 16px;
    padding-bottom: 6px;
    border: 1px solid #cbd5e1;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 507px;
  }

  .search-btn {
    width: 52px;
    height: 34px;
    color: #94a3b8;
    border-style: none;
    background-color: #edeff1;
  }
  .search-bar {
    outline: none;
    color: #ffffff;
    border-style: none;
  }
  .all-books-text {
    color: #334155;
    font-size: 18px;
    font-weight: 600;
  }
  .search-icon {
    height: 20px;
    width: 20px;
    margin-top: 3px;
  }
  .all-books-api-result-card {
    margin-top: 31px;
    margin-right: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .each-book-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    height: 155px;
    width: 350px;
  }
  .each-book-details {
    margin-bottom: 50px;
  }
  .each-book-image {
    width: 133px;
    height: 155px;
    margin-right: 20px;
    border-radius: 8px;
  }
  .each-book-title {
    font-weight: 600;
    font-size: 16px;
    color: #334155;
  }
  .each-book-author {
    font-weight: 500;
    font-size: 14px;
    height: 16px;
    color: #475569;
  }

  .star-icon {
    color: #fbbf24;
    margin-left: 10px;
    margin-right: 10px;
  }
  .rating-bg {
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 16px;
  }
  .status {
    font-size: 12px;
    font-weight: 400;
    color: #475569;
  }
  .read-span {
    font-size: 12px;
    font-weight: 500;
    color: #0284c7;
    margin-left: 10px;
  }
}
